@use "sass:color";
@use "../../variables" as *;

/*================================================
Filter Wrapper CSS
=================================================*/
.filter-wrapper {
  background-color: $whiteColor;
  border: 1px solid #eaf2ff;
  box-shadow: 0 344px 96px 0 rgba(0, 0, 0, 0),
    0 220px 88px 0 rgba(0, 0, 0, 0.01), 0 124px 74px 0 rgba(0, 0, 0, 0.03),
    0 55px 55px 0 rgba(0, 0, 0, 0.05), 0 14px 30px 0 rgba(0, 0, 0, 0.06);
  padding: 30px;
  border-radius: 15px;
  position: sticky;
  top: 120px;

  .title {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .accordion {
    .accordion-item {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #e7e7e7;
      margin-bottom: 20px;
      padding-bottom: 20px;

      &.active {
      }
      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}
