@use "sass:color";
@use "../../variables" as *;

/*================================================
Contact Us Area CSS
=================================================*/
.contact-us-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;

  .wrap-content {
    display: flex;
    gap: 45px;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    .left {
      display: flex;
      gap: 25px;
      align-items: center;

      .title {
        max-width: 265px;

        h3 {
          font-size: 20px;
          color: $whiteColor;
          margin-bottom: 12px;
        }
        p {
          margin-bottom: 0;
          color: $dawn-pinkColor;
        }
      }
    }
    .right {
      .link-btn {
        display: inline-flex;
        gap: 12px;
        align-items: center;
        font-weight: 600;
        color: $whiteColor;

        line-height: 1;
        border-bottom: 0.5px solid $whiteColor;
        transition: $transition;

        &:hover {
          border-bottom: 0.5px solid $primary;
        }
      }
    }
  }
}
.contact-us-form {
  background-color: $white-smokeColor;
  padding: 60px;
  border-radius: 15px;

  .content {
    margin-bottom: 45px;

    h2 {
      font-size: 40px;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 0;
    }
  }
  form {
    .form-group {
      margin-bottom: 25px;

      label {
        display: block;
        margin-bottom: 8px;
        color: $blackColor;
        font-size: $font-fifteen;
        font-weight: 500;
      }
      .form-control {
        display: inline-block;
        height: 57px;
        background-color: $whiteColor;
        color: $bodyTextColor;
        outline: 0;
        box-shadow: unset;
        border: 1px solid $whiteColor;
        border-radius: 50px;
        padding: 15px 25px;
        transition: $transition;
        font-size: $font-fifteen;

        &::placeholder {
          color: $bodyTextColor;
          transition: $transition;
        }
        &:focus {
          border: 1px solid $primary;

          &::placeholder {
            color: transparent;
          }
        }
      }
      textarea.form-control {
        min-height: 100px;
        border-radius: 25px;
      }
      .form-check {
        display: flex;
        gap: 7px;
        align-items: center;
        margin-bottom: 0;

        .form-check-input {
          box-shadow: unset;
          outline: 0;
          margin-top: 0;
        }
        .form-check-label {
          margin-bottom: 0;
          color: $bodyTextColor;

          a {
            color: $primary;

            &:hover {
              color: $secondaryColor;
            }
          }
        }
      }
    }
    .default-btn {
      border: none;
    }
  }
}
