@use "sass:color";
@use "../../variables" as *;

/*================================================
Footer Area Area CSS
=================================================*/
.footer-area {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: linear-gradient(180deg, $whiteColor 0%, $white-smokeColor 100%);

  // &::before {
  //     position: absolute;
  //     content: "";
  //     left: 0;
  //     right: 0;
  //     width: 100%;
  //     height: 250px;
  //     background-color: $whiteColor;
  //     z-index: -1;
  // }
  &.without-before {
    &::before {
      display: none;
    }
  }
  &.wrap-style2 {
    background: transparent;

    &::before {
      display: none;
    }
  }
}
.footer-top-content {
  border-bottom: 1px solid $dawn-pinkColor;
  padding-bottom: 35px;
  margin-bottom: 140px;

  .left {
    display: flex;
    gap: 45px;
    align-items: center;

    p {
      margin-bottom: 0;
      max-width: 565px;
    }
  }
  .right-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
    padding: {
      left: 0;
      right: 0;
    }
    li {
      list-style-type: none;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.single-footer-widget {
  h3 {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .links {
    margin-bottom: 0;
    padding: {
      left: 0;
      right: 0;
    }
    li {
      list-style-type: none;
      margin-bottom: 20px;
      line-height: 1;
      font-size: $font-fifteen;

      a {
        color: $bodyTextColor;

        &:hover {
          color: $primary;
          margin-left: 2px;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .apps-btn {
    margin-bottom: 0;
    padding: {
      left: 0;
      right: 0;
    }
    li {
      list-style-type: none;
      margin-bottom: 20px;

      a {
        img {
          border-radius: 50px;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &.end-style {
    text-align: right;
  }
}
.copyright-area {
  border-top: 1px solid $dawn-pinkColor;
  padding: {
    top: 30px;
    bottom: 30px;
  }
  p {
    span {
      color: $primary;
    }
    a {
      color: $primary;

      &:hover {
        color: $secondaryColor;
      }
    }
  }
  .lists {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    padding: {
      left: 0;
      right: 0;
    }
    li {
      list-style-type: none;
      font-size: $font-fifteen;
      position: relative;
      margin-right: 40px;

      a {
        color: $bodyTextColor;

        &:hover {
          color: $primary;
        }
      }
      &::before {
        position: absolute;
        content: "";
        right: -28px;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 1px;
        background-color: $blackColor;
      }
      &:last-child {
        margin-right: 0;

        &::before {
          display: none;
        }
      }
    }
  }
  &.wrap-style2 {
    margin-top: 140px;
  }
}
