@forward "./base/default";
@forward "./base/default-btn";
@forward "./base/section-title";
@forward "./layout/preloader";
@forward "./layout/navbar";
@forward "./layout/sidebar";
@forward "./home/main-banner";
@forward "./home/benefits";
@forward "./home/about";
@forward "./home/services";
@forward "./home/doctors";
@forward "./home/work";
@forward "./home/feedback";
@forward "./home/pricing";
@forward "./home/faq";
@forward "./home/app";
@forward "./home/blog";
@forward "./home/second-banner";
@forward "./home/second-about";
@forward "./home/how-it-works";
@forward "./home/choose-us";
@forward "./home/features";
@forward "./home/third-banner";
@forward "./home/third-choose";
@forward "./home/partner";
@forward "./layout/page-banner";
@forward "./home/drives";
@forward "./services/overview";
@forward "./services/covers";
@forward "./services/key";
@forward "./services/insurance";
@forward "./appointment/appointment";
@forward "./appointment/review";
@forward "./auth/profile-auth";
@forward "./legal/privacy-policy";
@forward "./legal/terms";
@forward "./error/not-found";
@forward "./contact/contact-info";
@forward "./contact/contact-us";
@forward "./blog/details";
@forward "./doctor/profile";
@forward "./doctor/filter-wrapper";
@forward "./doctor/showing-bar";
@forward "./blog/sidebar";
@forward "./home/subscribe";
@forward "./home/overview";
@forward "./chat/chatting";
@forward "./layout/footer";
@forward "./layout/pagination";
@forward "./layout/back-to-top";
