@use "sass:color";
@use "../../variables" as *;

/*================================================
Blog Area CSS
=================================================*/
.blog-area {
  .blog-view {
    display: flex;
    flex-direction: row;
    .left {
      justify-content: center;
      align-items: center;
    }
  }
  .blog-tablist {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    min-height: 52px;

    .MuiTabs-flexContainer {
      gap: 24px;
    }

    .tab-button {
      text-transform: none;
      font-weight: 600;
      min-width: 90px;
    }
  }
  .section-title {
    .left {
      h2 {
        max-width: 637px;
      }
    }
  }
}

.blog-card-image {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.blog-card {
  transition: $transition;

  .image {
    border-radius: 15px;
    overflow: hidden;
    height: 320px;

    img {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 15px;
      object-fit: cover;
      transition: $transition;
    }
  }
  .content {
    margin-top: 30px;
    width: 100%;

    .meta {
      display: flex;
      gap: 12px;
      align-items: center;
      margin-bottom: 15px;
      padding: {
        left: 0;
        right: 0;
      }
      li {
        list-style-type: none;
        display: inline-flex;
        padding: 8px 17px;
        justify-content: center;
        align-items: center;
        line-height: 1;
        font-size: $font-fifteen;

        background-color: $white-smokeColor;
        color: $blackColor;
        border-radius: 50px;
        transition: $transition;
        border: 1px solid #ebebeb;

        a {
          color: $blackColor;
        }
        &:hover {
          background-color: $primary;
          color: $whiteColor;

          a {
            color: $whiteColor;
          }
        }
      }
    }
    h3 {
      font-size: 25px;
      margin-bottom: 0;
      line-height: 1.5;
      transition: color 0.3s ease, transform 0.3s ease;

      &:hover {
        transform: translateX(5px);
      }
    }
  }
  &:hover {
    transform: translateY(-5px);

    .image {
      img {
        transform: scale(1.1);
      }
    }
  }
  &.wrap2 {
    .content {
      .meta {
        li {
          background-color: $whiteColor;
          color: $blackColor;

          a {
            color: $blackColor;
          }
          &:hover {
            background-color: $primary;
            color: $whiteColor;

            a {
              color: $whiteColor;
            }
          }
        }
      }
    }
  }
  &.gap-wrap {
    margin-bottom: 20px;
  }
  &.wrap-style2 {
    margin-bottom: 20px;

    .content {
      h3 {
        margin-bottom: 12px;
      }
      p {
        margin-bottom: 25px;
      }
    }
  }
}
