@use "sass:color";
@use "../../variables" as *;

/*================================================
Main Banner Area CSS
=================================================*/
.main-banner-area {
  overflow: hidden;

  .container-fluid {
    padding: {
      left: 20px;
      right: 20px;
    }
  }
}
.main-banner-content {
  background-color: $white-smokeColor;
  padding: 120px 85px 65px 85px;
  height: 100%;
  border-radius: 40px;
  text-align: center;
  margin-right: 55px;

  .trust-info {
    display: inline-flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: $whiteColor;
    padding: 10px 20px;
    border-radius: 50px;
    margin-bottom: 25px;

    h3 {
      display: flex;
      gap: 5px;
      align-items: center;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: bold;
    }
    .list {
      display: flex;
      gap: 2px;
      margin-bottom: 0;
      padding: {
        left: 0;
        right: 0;
      }
      li {
        list-style-type: none;
      }
    }
    .review {
      font-size: $font-fifteen;
      line-height: 1;
    }
  }
  h1 {
    font-size: 64px;
    margin-bottom: 15px;

    span {
      color: $primary;
      font-style: italic;
    }
  }
  p {
    font-size: $font-sixteen;
    margin-bottom: 0;
  }
  .banner-btn {
    margin-top: 45px;
  }
  .banner-bottom {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 52px;

    .info {
      display: flex;
      gap: 20px;
      align-items: center;

      .image {
        img {
          margin-right: -10px;
          border: 1px solid #fff;
          border-radius: 100%;
        }
      }
      .content {
        text-align: start;

        h3 {
          font-size: 20px;
          line-height: 1;
          margin-bottom: 5px;
        }
        span {
          font-size: $font-fifteen;
        }
      }
    }
    .wrap {
      a {
        position: relative;

        i {
          color: $blackColor;
          font-size: 23.5px;
          position: absolute;
          left: 0;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          line-height: 1;
          margin-top: 2.5px;
        }
        img {
          animation-name: rotateme;
          animation-duration: 20s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
      }
    }
  }
}
.main-banner-image {
  margin-left: -55px;

  .video {
    border-radius: 20px;
    overflow: hidden;

    video {
      border-radius: 40px;
    }
  }
  .fun-items {
    display: flex;
    gap: 110px;
    align-items: center;
    justify-content: center;
    background-color: $blackColor;
    padding: 60px 50px;
    border-radius: 40px;
    margin-top: 25px;
    position: relative;
    z-index: 1;
    overflow: hidden;

    .fun {
      text-align: center;
      position: relative;

      h3 {
        font-size: 40px;
        color: $whiteColor;
        line-height: 1;
        margin-bottom: 8px;
      }
      span {
        color: $white-smokeColor;
        font-size: $font-fifteen;
      }
      &::before {
        position: absolute;
        content: "";
        right: -60px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 62px;
        background: rgba(255, 255, 255, 0.15);
      }
      &.before-none {
        &::before {
          display: none;
        }
      }
    }
    .shape1 {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
    .shape2 {
      position: absolute;
      right: -45px;
      bottom: -75px;
      z-index: -1;
    }
  }
}
