@use "sass:color";
@use "../../variables" as *;

/*================================================
Services Area CSS
=================================================*/
.services-area {
}
.service-card {
  border: 1px solid $dawn-pinkColor;
  border-radius: 15px;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;

  .top {
    padding: 40px;

    .icon {
      margin-bottom: 60px;
    }
    h3 {
      font-size: 24px;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 0;
    }
  }
  .bottom {
    background: $white-smokeColor;
    padding: 40px;
    border-radius: 0 0 15px 15px;

    .list {
      margin-bottom: 0;
      padding: {
        left: 0;
        right: 0;
      }
      li {
        list-style-type: none;
        display: flex;
        gap: 10px;
        align-items: center;
        line-height: 1;
        margin-bottom: 15px;

        i {
          font-size: 20px;
          color: $primary;
        }
        span {
          font-weight: 500;
          color: $blackColor;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(
      circle,
      rgba($primary, 0.15) 0%,
      transparent 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
    border-radius: 50%;
    z-index: -1;
  }
  &:hover {
    transform: translateY(-10px) scale(1.03);

    &:before {
      transform: scale(1);
    }
  }
  &.wrap2 {
    background-color: $whiteColor;

    .bottom {
      margin: 0 10px 10px 10px;
      border-radius: 10px;
      padding: 30px;
    }
  }
}
.services-large-image {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  border-radius: 15px;

  .wrap-content {
    background-color: $whiteColor;
    padding: 40px 30px;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    right: 45px;
    bottom: 70px;
    max-width: 275px;

    .image {
      width: 116px;
      height: 96px;
      margin-bottom: 70px;
      position: relative;
      overflow: hidden;

      Image {
        width: auto;
        height: auto;
        object-fit: none;
        object-position: -100px -300px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    p {
      color: $primary;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 70px;
    }
    .link-btn {
      display: inline-flex;
      gap: 12px;
      align-items: center;
      font-weight: 600;
      color: $primary;

      line-height: 1;
      border-bottom: 0.5px solid $whiteColor;
      transition: $transition;

      &:hover {
        border-bottom: 0.5px solid $secondaryColor;
        letter-spacing: 0.5px;
      }
    }
    .shape {
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
    &.wrap2 {
      .link-btn {
        &:hover {
          letter-spacing: unset;
        }
      }
    }
  }
}
