@use "sass:color";
@use "../../variables" as *;

/*================================================
Subscribe Area Area CSS
=================================================*/
.subscribe-area {
  background-color: $primary;
  margin: 0 20px;
  border-radius: 40px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.subscribe-content {
  max-width: 570px;
  margin: 0 auto 40px;
  text-align: center;

  h2 {
    font-size: 40px;
    margin-bottom: 15px;
    color: $whiteColor;
  }
  p {
    color: $whiteColor;
  }
}
.subscribe-form {
  position: relative;
  max-width: 857px;
  margin: auto;
  overflow: hidden;

  .form-control {
    display: inline-block;
    height: 65px;
    background-color: $whiteColor;
    padding: 5px 7px 5px 30px;
    border: none;
    box-shadow: unset;
    outline: 0;
    font-size: $font-fifteen;
    color: $bodyTextColor;
    border-radius: 50px;
    transition: $transition;

    &::placeholder {
      color: $bodyTextColor;
      transition: $transition;
    }
    &:focus {
      &::placeholder {
        color: transparent;
      }
    }
  }
  .default-btn {
    border: none;
    background-color: $blackColor;
    position: absolute;
    right: 7px;
    top: 3.5px;

    .left {
      background-color: $blackColor;
    }
    .right {
      background-color: $blackColor;
    }
  }
}
.subscribe-list {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: 857px;
  margin: 25px auto 0;
  padding: {
    left: 0;
    right: 0;
  }
  li {
    display: flex;
    gap: 5px;
    align-items: center;
    list-style-type: none;
    font-size: $font-fourteen;

    line-height: 1;

    i {
      color: $whiteColor;
      font-size: 20px;
    }
    span {
      color: $whiteColor;
    }
  }
}
.subscribe-shape {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
