@use "sass:color";
@use "./variables" as *;


/*
@File: MediBridge. Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default CSS
** - Default Btn Area CSS 
** - Section Title CSS
** - Preloader Area CSS
** - Navbar Area CSS
** - Responsive Sidebar Menu Area CSS
** - Main Banner Area CSS
** - Benefits Area CSS
** - About Area CSS
** - Services Area CSS
** - Doctors Area CSS
** - Work Area CSS
** - Feedback Area CSS
** - Pricing Area CSS
** - FAQ Area CSS
** - App Area CSS
** - Blog Area CSS
** - Second Banner Area CSS
** - Second About Area CSS
** - How It Works Area CSS
** - Choose Us Area CSS
** - Features Area CSS
** - Third Banner Area CSS
** - Third Choose Area CSS
** - Partner Area CSS
** - Page Banner Area CSS
** - Drives Area CSS
** - Service Overview Area CSS
** - Service Covers Area CSS
** - Service Key Area CSS
** - Insurance Information Area CSS
** - Appointment Area CSS
** - Review Area CSS
** - Profile Authentication Area CSS
** - Privacy Policy Area CSS
** - Terms of Service Area CSS
** - Not Found Area CSS
** - Contact Info Area CSS
** - Contact Us Area CSS
** - Blog Details Area CSS
** - Doctor Profile Area CSS
** - Filter Wrapper CSS
** - Showing Doctors Bar CSS
** - Blog Sidebar Widget Area CSS
** - Subscribe Area Area CSS
** - Overview Area Area CSS
** - Footer Area Area CSS
** - Pagination Area CSS
** - Back to Top CSS

*******************************************
*******************************************
*/

@use "./sections" as *;


/*
Sectioned imports by page/area (see styles/sections/).
*/
