/** VARIABLES **/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font: 'Poppins', sans-serif;

/* Default Colors Style */
$primary: #336AEA;
$primaryHover: #2856c7;
$secondaryColor: #10B981;;
$blackColor: #2A3547;
$bodyTextColor: #5A6A85;
$whiteColor: #ffffff;
$white: $whiteColor;
$white-smokeColor: #F5F5F5;
$dawn-pinkColor: #EBEBEB;
$red-violetColor: #D30082;
$font-fourteen: 14px; 
$font-fifteen: 15px; 
$font-sixteen: 16px; 
$font-seventeen: 17px; 
$font-eighteen: 18px; 
$transition: .7s; 

/* Default Fonts Style */
// $main-font-family: "Inter", sans-serif;
// $heading-font-family: "Plus Jakarta Sans", sans-serif;
